body {
    padding: 200px;
    margin: auto;
    background-color: lightblue;
}

images {
    size: 50px;
}

images2 {
    size: 50px;
}

images3 {
    size: 50px;
}

images4 {
    size: 50px;
}

images5 {
    size: 50px;
}