@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">This is the landing page where you can find two other pages, a Miles to Metric Converter and a color changer.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Mile to Metric Converter</h2>
        <p>
            This page takes miles and converts them to metric units of measurement.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Color Chooser</h2>
        <p>This page takes two color inputs in the form of hexadecimal values and combines them into one color.</p>
    </div>
</div> 