@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Homework 5</h1>
    <p class="lead">This is the landing page for a maintenance requests form and a list of requests.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

